apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "adt-auth.fullname" . }}-configmap
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "adt-auth.labels" . | nindent 4 }}
data:
    spring.zipkin.baseUrl: "http://zipkin:9411/"
    spring.jpa.hibernate.ddl-auto: none
    -Dmy.property: "sit.hrms.alphadot.co.in"
    -Dmy.port: "443"
    -UI.property: "sit.hrms.alphadot.co.in"
    -UI.port: "443"
    -UI.scheme: "https"
    -UI.context: "/apigateway"
    spring.datasource.hikari.connection-timeout: "20000"
    spring.datasource.hikari.minimum-idle: "2"
    spring.datasource.hikari.maximum-pool-size: "2"
    spring.datasource.hikari.idle-timeout: "300000"
    spring.datasource.hikari.max-lifetime: "1800000"
    spring.datasource.hikari.auto-commit: "true"
    spring.mail.host: "smtp-relay.brevo.com"
    spring.mail.username: "ajaymishra.adt@gmail.com"
    spring.mail.password: "Y8hzB7p05cDQWUwE"